<div class="row">
	<div class="col-md-3">File Name</div>
	<div class="col-md-3">Size</div>
	<div class="col-md-3">Date Modified</div>
	<div class="col-md-3">Action</div>
</div>

{{#each files}}
<div class="row">
	<div class="col-md-3">{{fileName}}</div>
	<div class="col-md-3">{{fileSize}}</div>
	<div class="col-md-3">{{modifiedDate}}</div>
	<div class="col-md-3"><select>
		<option>Select One...</option>
		<option>Rename</option>
		<option>Delete</option>
		<option>Download</option>
	</select></div>
</div>
{{else}}
<div class="row">
	<div class="col-md-12">No Files</div>
</div>
{{/each}}
